{{!-- <!--Jumbotron-->
    <div class="jumbotron">
        <h1 class="display-4">Eat-Da-Burger</h1>
            <p class="lead">Select a burger or create one to devour later!</p>

        <hr class="my-4">

        <h2>Let's Make A Burger!</h2>
        <!-- Form -->
        <form>
            <div class="form-group">
                <label for="burger-name">Create A New Burger</label>
                <input type="text" class="form-control" id="new-burger" aria-describedby="new-burger">
            </div>
            <button type="submit" class="btn btn-primary" id="add-burger">Add Burger</button>
        </form>
    </div>

<!-- Undevoured Burgers -->
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>New Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burger}}
                            {{#unless devoured}}
                                {{> burger/burger-block devoured=false}}
                            {{/unless}}
                        {{/each}}
                    </ul>


                        {{#each burgers}}
                            {{#unless devoured}}
                                <span><strong> {{this.id}} - {{this.burgers_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-warning" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>



<ul>
    {{#each cats}}
        {{#unless sleepy}}
            {{> cats/cat-block sleep=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
    {{#each cats}}
        {{#if sleepy}}
            {{> cats/cat-block sleep=false}}
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Cat Name:</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="slee">Sleepy?</label><br>
        <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
        <input type="radio" name="sleepy" value="0"> Awake
    </div>

    <button type="submit">Add Cat</button>
</form> --}}

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Create and Devour!</h1>
        <p class="lead">Here you can create and or devour burgers.</p>
        <hr class="my-4">
        <p>Get creative!</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label>Burger Name</label>
                    <input id="burger-name" type="text" class="form-control" aria-describedby="burgerName"
                        placeholder="Create a burger">
                    <small id="createBurger" class="form-text text-muted">Yum, yum.</small>
                </div>

                <button id="burger-submit" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 not-devoured">

            {{#each hbObj}}
            {{#unless this.devoured}}


            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">{{this.burger_name}}</h5>
                    <button data-id={{this.id}} class="devour" type="submit" class="btn btn-primary">Devour</button>

                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6 devoured">
            {{#each hbObj}}
            {{#if this.devoured}}


            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">{{this.burger_name}}</h5>

                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>